@import url("https://fonts.googleapis.com/css2?family=Astloch&family=Readex+Pro:wght@200;300;400;500;600;700");

html,
body {
  padding: 0;
  margin: 0;
  background-color: #fffdf0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* HOME */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.hero {
  padding-top: 300px;
  display: flex;
  justify-content: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: default;
}

.hero h1 {
  margin-top: -10px;
  font-size: 60px;
  color: #5f8c48;
  font-family: "Astloch", cursive;
  z-index: 1;
}

.hero h2 {
  margin-top: -10px;
  font-size: 20px;
  color: #5f8c48;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 200;
  z-index: 1;
}

.plantTop {
  position: absolute;
  top: 130px;
  left: -120px;
  opacity: 0.3;
  transition: ease-in-out 0.8s;
}

.plantBottom {
  position: absolute;
  bottom: -300px;
  right: -180px;
  opacity: 0.3;
  transition: ease-in-out 0.8s;
}

.gate {
  position: relative;
  margin-top: 20px;
  cursor: pointer;
}

/* MENU */

.menu {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 20px;
}

.links {
  color: #5f8c48;
  font-family: "Astloch", cursive;
  font-size: 28px;
}
.links a {
  position: relative;
}
.links a:hover::before {
  content: "";
  background-image: url(/img/corner-vine.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  top: -10px;
  right: -40px;
  width: 70px;
  height: 70px;
  filter: contrast(0.5);
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  transform: rotate(-22deg);
}

/* CONTACT */

.contact {
  position: fixed;
  bottom: 0;
  right: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  font-weight: 200;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 20px;
  color: rgb(129, 130, 122);
  font-size: 18px;
}

/* ABOUT */

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  padding-top: 200px;
  position: relative;
}
.connie {
  position: relative;
  padding: 3px;
}

.about p {
  margin-bottom: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(129, 130, 122);
  font-weight: 200;
  max-width: 500px;
  text-align: center;
  z-index: 1;
}

.about-vine-top {
  position: absolute;
  z-index: 0;
  top: 100px;
  right: -80px;
  transform: scaleX(-1) rotate(90deg);
  filter: contrast(0.3);
  opacity: 0.3;
}

.about-vine-bottom {
  position: absolute;
  z-index: 0;
  bottom: -50px;
  left: -80px;

  filter: contrast(0.3);
  opacity: 0.3;
}

/* LOGO */

.logo {
  position: fixed;
  top: 0;
  right: 0;

  font-weight: 200;
  padding: 20px 20px;
  color: #5f8c48;
  font-family: "Astloch", cursive;
  font-size: 28px;
}

/* SERVICES */

.services {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  margin-top: 200px;
}

.services section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px;
}

.services section h2 {
  font-family: "Astloch", cursive;
  color: #5f8c48;
  font-size: 24px;
  font-weight: 200;
}

.services section ul {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(129, 130, 122);
  font-size: 18px;
  font-weight: 200;
}

/* ANIMATION */

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
